@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Guides&family=Science+Gothic:wght@100..900&display=swap');

.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid magenta;
  padding: 10px;
}

.header{
  padding: 10px;
}

body{
  padding: 10px;
  background-color: teal;
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: large;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
}