.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid paleturquoise;
  padding: 10px;
}

.header{
  padding: 10px;
}

body{
  padding: 10px;
  background-color: rgb(28, 182, 40);
}